---
layout: default
title: Keen Showcase
---

<section class="home posts" id="home-content">
  <h1>Welcome To The Page.</h1>
  <ul>
    {% for page in site.pages %}
      {% if page.layout == 'asset' %}
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      <li>
        <a href="{{ page.url }}">
          <img src="{{ page.thumb }}" alt="{{ page.title }}">
          <h3>{{ page.title }}</h3>
          <p>{{ page.short_description }}</p>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <h2>Blog Posts.</h2>
  {% for post in site.posts %}
    <article><time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></article>
  {% endfor %}


</section>
