    <footer>
      <section class="documentation">
        <h4>Documentation</h4>
        <ul>
          <li><a href="#">SDKs</a></li>
          <li><a href="#">API Technical Reference</a></li>
          <li><a href="#">Getting Started Guide</a></li>
          <li><a href="#">Data Modeling Guide</a></li>
          <li><a href="#">Data Collection APIs</a></li>
          <li><a href="#">Data Analysis APIs</a></li>
          <li><a href="#">Data Visualization</a></li>
        </ul>
      </section>
      <section class="connect">
        <h4>Connect With Us</h4>
        <ul>
          <li class="ico_twitter"><a href="#">Twitter</a></li>
          <li class="ico_facebook"><a href="#">Facebook</a></li>
          <li class="ico_github"><a href="#">GitHub</a></li>
          <li class="ico_email"><a href="#">Email</a></li>
          <li class="ico_chat"><a href="#">Users Chat</a></li>
          <li class="ico_forum"><a href="#">Dev Forum</a></li>
        </ul>
      </section>
      <section>
        <h4>Have some interesting and useful code to share with the community?</h4>
        <p>
          We feature repos that help developers build great things and generally make the world a better place learn more (about page) or contribute a repo.
        </p>
      </section>
    </footer>
  </div>
    {% include scripts.html %}
  </body>
</html>
